@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}

header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 10px;
  border-bottom: 2px solid hsl(260, 8%, 93%);
}

#header-left {
  display: flex;
}

nav {
  margin-left: 60px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

nav a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  font-size: 14px;
}

#header-right {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

#profile img {
  width: 45px;
}

main {
  display: flex;
  width: 72%;
  margin: 80px auto;
  justify-content: space-between;
}

#large-image-container {
  width: 430px;
}

#large-image-container img {
  width: 100%;
  border-radius: 15px;
}

.image-list {
  display: flex;
  width: 430px;
  margin-top: 30px;
  justify-content: space-between;
}

.column {
  border-radius: 12px;
  height: 85px;
}

.image-list img {
  width: 80px;
  border-radius: 10px;
  cursor: pointer;
}

.active-column {
  border: 3px solid hsl(26, 100%, 55%);
}
.active-image {
  opacity: 0.4;
}

#content {
  width: 500px;
  margin-top: 60px;
}

#company {
  color: hsl(26, 100%, 55%);
  font-size: 14px;
  text-transform: uppercase;
}

#title {
  font-weight: 700;
  font-size: 2.5rem;
  color: hsl(220, 13%, 13%);
  margin-top: 15px;
}

#description {
  color: hsl(219, 9%, 45%);
  width: 450px;
  line-height: 24px;
  margin-top: 30px;
}

.current-price {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-top: 20px;
}

.current-price .price {
  font-weight: 700;
  font-size: 28px;
}

.current-price .offer {
  background-color: hsl(25, 100%, 94%);
  padding: 3px 6px;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  border-radius: 5px;
}

.original-price {
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  margin-top: 5px;
  font-size: 15px;
}

.cart-box {
  display: flex;
  column-gap: 20px;
  margin-top: 30px;
}

.quantity {
  display: inline-block;
  background-color: hsl(223, 64%, 98%);
  width: 130px;
  height: 50px;
  border-radius: 10px;
}

.add-to-cart {
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: hsl(25, 100%, 94%);
  font-family: inherit;
  font-weight: 700;
  width: 250px;
  height: 50px;
  border-radius: 10px;
}

.add-to-cart img {
  width: 15px;
  margin-right: 10px;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: auto 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
}

#close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 1;
}

#close img {
  width: 20px;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 430px;
  padding-top: 100px;
}

#next,
#previous {
  cursor: pointer;
  position: absolute;
  top: 50%;
  background-color: hsl(223, 64%, 98%);
  padding: 15px 18px;
  border-radius: 50%;
  left: -25px;
}

#next {
  left: auto;
  right: -25px;
}

.slides {
  position: relative;
}

.slide {
  display: none;
}

.slide img {
  width: 430px;
  border-radius: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
